header{
  display: flex;
  flex-direction: column;
  align-items: center;
  nav {
    display: flex;
    list-style: none;
    a {
      font-weight: bold;
      color: #0d2240;
      text-decoration: none;
      font-size: 20px;
    }
  }li{
    margin: 0 10px;
  }
}
